body {
    background: #eeeeee;
}

.landingTitle {
    margin-top: 10%;
    font-size: 45px;
    color: #0a0a25;
}

.landingPage {
    display: flex;
    margin: 25px;
    justify-content: center;
    text-align: center;
    margin-bottom: 5%;
}

.landingDescription {
    font-size: 20px;
}

img {
    width: 50%;
    text-align: right;
    margin-left: 10%;
}

.findCourseButton {
    font-size: 15px;
    border-radius: 30px;
    border: 5px solid #3dce9b;
    color: #0a0a25;
    padding: 12px;
    background: transparent;
    transition: 1s;
}

.findCourseButton:hover {
    scale: 1.05;
}

.takeCourseDescription {
    text-align: center;
    margin-left: 5%;
}

.browseCoursesTitle {
    font-size: 35px;
    text-align: left;
    font-weight: bolder;
    margin-left: 5%;
    margin-top: 5%;
}

#browseAllCourses {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin: 5%;
}

.course-card {
    border: solid #4b4b4b 2px;
    width: 300px;
    height: 515px;
    border-radius: 4px;
    transition: 0.5s;
    margin-bottom: 30px;
    background: white;
}
/* CSS Styles for hover effect */
.course-card:hover {
    scale: 1.05;
}
/* CSS Styles for course card information */
.course-card-info {
    padding: 1px 8px;
}


