.courseImage {
    width: 100%;
    height: 200px;
    margin: auto;
}

.course {
    border: 2px solid black;
    transition: 0.5s;
}

.course:hover {
    scale: 1.03;
}

.startCourseButton {
    font-size: 15px;
    font-weight: bolder;
    border-radius: 30px;
    border: 5px solid #3dce9b;
    color: #0a0a25;
    padding: 12px;
    background: #3dce9b;
    transition: 0.5s;
    margin-bottom: 5%;
}

.startCourseButton:hover {
    border-color: #0a0a25;
    color: white;
    background: #0a0a25;
}

